*{ 
    margin: 0%;
    padding: 0%;
}

 body{ 
    overflow-x: hidden;
    background-color:#000000;
}

 .header{ 
    height:100vh;
    width:100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.562),rgba(0, 0, 0, 0.342)) ,url(./assets/images/futuristic-bg.png);
    background-position:center;
    background-size: cover;
    position: relative;
}
 
 .navbar{ 
    display: flex;
    align-items: center;
    padding-top:20px;
} 

.navbar img{ 
    margin-left:95px;
}

.nav-links{ 
    margin-left:140px;
} 
.nav-links ul{ 
      display: flex;
      gap:50px;
}
.nav-links ul li a{ 
    text-decoration: none;
    color:#ffffffae;
    font-family:sans-serif;
    font-size:15px;
    font-weight:300;
    
}
.nav-links ul li{ 
    display: inline-block;
    list-style-type: none;
}
 
.nav-links ul li a:hover{ 
    color:#f4694c;
    transform: scalex(1.10);
    transition: 0.5s ease-out;
}

.btngroup{ 
    margin-left:420px;
}

.btnone{ 
    background-color:transparent;
    color:#ffffffc7;
    font-family:sans-serif;
    font-size:15px;
    font-weight:300;
    padding:12px 32px;
    border:none;
} 

.btngroup .btntwo{ 
    background-color:#f4694c;
    color:#ffffffd3;
    font: 1em "Fira Sans", sans-serif;
    font-weight:600;
    border:none;
    padding:12px 32px;
    margin-left:20px;
}
 
.btnone:hover{ 
    background-color: #ffffff;
    color: #f4694c;
    cursor: pointer;
    border: 1px solid #f4694c;
    transform: scale(1.09);
    transition: 0.4s ease-out;
} 

.btntwo:hover{ 
    background-color: #ffffff;
    color: #f4694c;
    cursor: pointer;
    border: 1px solid #f4694c;
    transform: scale(1.09);
    transition: 0.4s ease-out;
}

.hero-section{ 
    display:flex ;
    color:#ffffff;
    margin-top:150px;
}

.left-part{ 
    margin-left:95px;
}

.left-part h1{ 
    font-family:'Poppins', sans-serif;
    font-size:3em;
    font-weight: 1000;
    line-height:1.4em;
    margin-bottom:8%;
}

.left-part p{ 
    font:15px 'Poppins', sans-serif; 
    line-height:2em;
    margin-bottom:50px;
    color: #ffffff96;
    font-weight:500;
}

.hero-btns .first-btn{ 
    background-color:#f4694c;
    color:#ffffffd3;
    font: 1.1em 'Poppins', sans-serif;
    font-weight:500;
    border:none;
    padding:15px 35px;
} 

.hero-btns .second-btn{ 
    background-color:transparent;
    color:#ffffffd3;
    font: 1em 'Poppins', sans-serif;
    font-weight:400;
    border:none;
    padding:12px 35px;
    border:2px solid #ffffff;
    margin-left:30px;
} 

.hero-btns .first-btn:hover{ 
    background-color: #ffffff;
    color: #f4694c;
    font-weight:500;
    cursor: pointer;
    border: 1px solid #f4694c;
    transform: scale(1.09);
    transition: 0.4s ease-out;
} 

.hero-btns .second-btn:hover{ 
    background-color: #ffffff;
    color: #f4694c;
    cursor: pointer;
    border: 1px solid #f4694c;
    transform: scale(1.09);
    transition: 0.4s ease-out;
} 


.right-part{ 
    margin-left:430px; 
} 

 .right-part .play-button{ 
      position: relative;
      top:140px;
      left:20px;
      cursor: pointer;
}


.right-part p{ 
    line-height:1em;
    font:1.6em 'Poppins';
    position: relative;
    top:260px;
    right:50px;
     
}
.dash{ 
    position: relative;
    top: 285px;
    right:190px;
}

.right-arrow{ 
    position: relative;
    left:250px;
}

.populargame{ 
    width:100%;
    background-color:#ffffff;
    padding-top:190px;
}
.populargame h1{ 
    text-align: center;
    font-size:2.6em; 
    font-family:'Poppins', sans-serif;
    line-height:1.5em;
    font-weight:600px;
}    

.Game-row{ 
    padding-top:80px;
    display:flex;
    justify-content: center;
    gap:25px;
}


.Gamebox1{ 
    width:290px;
    height:360px;
    background-image:url(./assets/images/image\ 2.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    box-sizing:border-box;
    cursor: pointer;
}

.Background1{ 
    background-color:#5a5a5af4;
    width: 100%;
    position: relative;
    top:262px;
    color: #ffffff;
}

.Gamebox1:hover{ 
    transform: scale(1.09);
    transition: 0.4s ease-out;
}

.Gamebox2{ 
    width:290px;
    height:360px;
    background-image:url(./assets/images/image\ 4.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    box-sizing:border-box;
    cursor: pointer;
    background-size: 100% 100%;
}

.Gamebox2:hover{ 
    transform: scale(1.09);
    transition: 0.4s ease-out;
}
.Background2{ 
    background-color:#000000cd;
    width: 100%;
    position: relative;
    top:262px;
    color: #ffffff;
}

.Gamebox3{ 
    width:290px;
    height:360px;
    background-image:url(./assets/images/image\ 3.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    box-sizing:border-box;
    cursor: pointer;
    background-size: 100% 100%;
}

.Gamebox3:hover{ 
    transform: scale(1.09);
    transition: 0.4s ease-out;
}
.Background3{ 
    background-color:#808080e4;
    width: 100%;
    position: relative;
    top:262px;
    color: #ffffff;
}
.Gamebox4{ 
    width:290px;
    height:360px;
    background-image:url(./assets/images/Rectangle\ 56.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    box-sizing:border-box;
    cursor: pointer;
}

.Gamebox4:hover{ 
    transform: scale(1.09);
    transition: 0.4s ease-out;
}
.Background4{ 
    background-color:#5a5a5ae3;
    width: 100%;
    position: relative;
    top:262px;
    color: #ffffff;
  }
.title{ 
   position: relative;
   top:23px;
   font:14px 'Poppins';
   padding-left:15px;
}
.title h3{ 
   position: relative; 
   bottom:10px;
 }
.title p{ 
    color:#ffffff82;
    position: relative; 
    bottom:8px;
    font-size:1.1em;
    font-weight:500;
 }
 
.Game-Button{ 
    position:relative;
    bottom:26px;
    left:165px;
    padding:10px 15px;
    font-size:1.1em;
    color:#ffffff;
    background-color:#f4694c;
    border:none;
}

.Game-Button:hover{ 
    background-color: #ffffff;
    color: #f4694c;
    cursor: pointer;
    border: 1px solid #f4694c;
    transform: scale(1.09);
    transition: 0.4s ease-out;
}

.ratingstar{ 
    display: flex;
    gap:8px;
}

/* WAR GAME */

.war-game{ 
   width:100%;
   background-color:#ffffff;
   color:#000000;
   padding-top:200px;
}
.wargame-section{ 
    display:flex;
}

.left-warimg{ 
    height:400px;
    width:540px;
    background-image:url('./assets/images/Rectangle\ 57.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    position:relative;
    left:140px;
}
.right-war{ 
    position: relative;
    left:15%;
}
.right-war h1{ 
    font-size:2.6em;
    font-family:'Poppins', sans-serif ;
    line-height: 1.4em;
    font-weight:800;
    position:relative;
    top:10px;
}
.right-war p{ 
    font-size:15px;
    font-family:'Poppins', sans-serif ;
    line-height:1.6em;
    font-weight:500;
    color:#0000007a;
    padding-top:28px;
}
.warbtns{ 
    margin-top:30px;
}
.explore-btn{ 
    background-color:#f4694c;
    color:#ffffffd3;
    font: 1em 'Poppins', sans-serif;
    font-weight:600;
    border:none;
    padding:16px 35px; 
}
.learn-btn{ 
    background-color:transparent;
    color:#f4694c;
    font: 1em 'Poppins', sans-serif;
    font-weight:500;
    border:none;
    padding:14px 36px;
    border:2px solid #f4694c;
    margin-left:30px; 
}
.explore-btn:hover{ 
    background-color: #ffffff;
    color: #f4694c;
    font-weight:600;
    cursor: pointer;
    border: 1px solid #f4694c;
    transform: scale(1.09);
    transition: 0.4s ease-out;
     
}

.learn-btn:hover{ 
    background-color: #ffffff;
    color: #f4694c;
    cursor: pointer;
    border: 1px solid #f4694c;
    transform: scale(1.09);
    transition: 0.4s ease-out; 
}

/* Game Lists */

.Week-Games{ 
    width:100%;
    background-color:#ffffff;
    color:#000000;
    padding-top:200px;
    padding-bottom:120px;
}

.Week-Games-header{ 
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 140px;
    padding-bottom:80px;
}

.Week-Games-header h3{ 
    font-size:2.8em;
    font-family:'Poppins', sans-serif;
    font-weight:800;
}

.colorfull-arrow{ 
    display: flex;
    gap:20px;
}

.pinkbox{ 
   background-color:#fde1db;
   padding:30px 20px;
}

.orangebox:hover{ 
    transform: scale(1.09);
    transition: 0.4s ease-out;
    cursor:pointer;
}

.orangebox{
    background-color:#f4694c;
    padding:30px 20px;
}
.pinkbox:hover{
    transform: scale(1.09);
    transition: 0.4s ease-out;
    cursor: pointer;
}

.Week-Gamelist-one{ 
    display: flex;
    justify-content:space-between;
    padding:5px 140px;
}

.Gamelist-row1{ 
    display:flex;
}

.imgleft1{ 
    height:300px;
    width:250px;
    background-image: url('./assets/images/Rectangle\ 75.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

.imgleft2{ 
   height:300px;
   width:250px;
   background-image: url('./assets/images/Rectangle\ 76.png');
   background-repeat: no-repeat;
   background-position:center;
   background-size: cover;
}

.Week-Gamelist-two{ 
    display: flex;
    justify-content:space-between;
    padding:100px 140px;
}

.Gamelist-row2{ 
   display: flex;
}

.imgleft3{ 
    height:300px;
    width:250px;
    background-image: url('./assets/images/Rectangle\ 77.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

.Gamelist-row-diff{ 
    display: flex;
    position: relative;
    right:3%;
}

.imgleft4{ 
    height:300px;
    width:250px;
    background-image: url('./assets/images/Rectangle\ 78.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

.game-title{ 
    font-family:'Poppins', sans-serif;   
    position: relative;
    top:10px;
    left:35px;
}

.game-title h1{ 
    font-size:1.6em;
    padding-bottom:15px;
    font-weight:510;
    color:#000000cf;
}

.game-title h3{ 
    font-size:1.1em;
    font-weight:500;
    padding-bottom:15px;
    color: #f4684ce7;
}
.game-title p{ 
    font-size:14px;
    font-weight:500;
    line-height:1.9em;
    padding-bottom:30px;
    color:#000000c7;
}

 .game-title .download-btn{ 
    background-color:#f4694c;
    color:#ffffffd3;
    font: 1.1em 'Poppins', sans-serif;
    font-weight:500;
    border:none;
    padding:12px 30px;
}
.game-title .download-btn:hover{ 
    background-color: #fde1db;
    color: #f4694c;
    cursor: pointer;
    border: 1px solid #f4694c;
    transform: scale(1.09);
    transition: 0.4s ease-out; 
}
 
/* MOST PLAYED GAME SECTION */
.Most-played-game{ 
   width:100%; 
   height:100vh;
   background-color: #000009;
   padding-bottom:200px;
   padding-top: 70px;
}

.Most-played-game h1{ 
   color:#ffffff;
   font-size:2.7em;
   font-family:'Poppins', sans-serif;
   font-weight:800;
   text-align:center;
}

.Most-played-game p{ 
    position: relative;
    top:90px;
    left:40%;
    color:#ffffff6d;
    font-size:16px;
    font-weight:500;
    font-family:'Poppins', sans-serif;
    line-height:2em;
}

.Game-of-world{ 
    position: relative;
    top:17%;
    left:35%; 
    height:71px;
}   

.played-game-img1{ 
    width:430px;
    height:500px;
    background-image:url('./assets/images/Rectangle\ 17.png');
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    top:500%;
    left:8%;
}
.played-game-img2{ 
    width:315px;
    height:425px;
    background-image:url('./assets/images/Rectangle\ 18.png');
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    top:532%;
    left:41%;
}

.played-game-img3{ 
    width:340px;
    height:290px;
    background-image:url('./assets/images/Rectangle\ 90.png');
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    top:550%;
    left:65%;
}

/* EXPERIENCE SECTION */

.Experience{ 
    width:100%; 
    height:65vh;
    background-color: #000009;
    background-image:linear-gradient(rgba(0, 0, 0, 0.562),rgba(0, 0, 0, 0.620)) ,url('./assets/images/Rectangle\ 606.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.Experience h1{ 
   padding-top:100px;
   color:#ffffff;
   font-family:'Poppins', sans-serif;
   font-size:2.6em;
   padding-bottom:20px;
}

.Experience p{ 
    color:#ffffffc2;
    font-family:'Poppins', sans-serif;
    font-size:14px;
    font-weight:500;
    padding-bottom:30px;
}

.Experience button{ 
    background-color:#f4694c;
    color:#ffffffd3;
    font: 1.1em 'Poppins', sans-serif;
    font-weight:500;
    border:none;
    padding:14px 32px;
}

.Experience button:hover{ 
    background-color: #fde1db;
    color: #f4694c;
    cursor: pointer;
    border: 1px solid #f4694c;
    transform: scale(1.09);
    transition: 0.4s ease-out; 
}

/* FOOTER SECTION */
.footer{ 
    width:100%; 
    background-color: #000009;
    padding-bottom:60px;
   
}

.footer-section{
    padding:50px 9%;
    display:flex;
    gap:120px;
}
.footer-logo{ 
    width:130px;
    padding-bottom:18px;
 }

.footer-first-cols p{ 
    color:#ffffff7c;
    font-family:'Poppins', sans-serif;
    font-size:14px;
    line-height:1.8em;
    padding-bottom:18px;
    cursor:pointer;
}

.footer-social-logo{ 
     display: flex;
     gap:20px;
}

.footer-second-cols p{ 
    color:#ffffffeb;
    font-family:'Poppins', sans-serif;
    font-size:18px;  
    padding-bottom:20px;
    cursor:pointer; 
}

.footer-second-cols ul a{ 
    text-decoration: none;
    color: #ffffff9d;
    font-family:'Poppins', sans-serif;
    font-size:16px;
    display: flex;
    flex-direction: column;
    padding-bottom:15px;
    
}

.footer-second-cols ul { 
    list-style-type:none;
}

.footer-third-cols p{ 
    color:#ffffffeb;
    font-family:'Poppins', sans-serif;
    font-size:18px;  
    padding-bottom:20px;
}

.footer-third-cols ul a{ 
    text-decoration: none;
    color: #ffffff9d;
    font-family:'Poppins', sans-serif;
    font-size:16px;
    display: flex;
    flex-direction: column;
    padding-bottom:15px;
    
}

.footer-third-cols ul { 
    list-style-type:none;
}

.footer-forth-cols p{ 
    color:#ffffffeb;
    font-family:'Poppins', sans-serif;
    font-size:18px;  
    padding-bottom:20px;
}

.footer-forth-cols ul a{ 
    text-decoration: none;
    color: #ffffff9d;
    font-family:'Poppins', sans-serif;
    font-size:16px;
    display: flex;
    flex-direction: column;
    padding-bottom:15px;
    
}

.footer-forth-cols ul { 
    list-style-type:none;
}

.footer-fifth-cols p{ 
    color:#ffffffeb;
    font-family:'Poppins', sans-serif;
    font-size:18px;  
    padding-bottom:20px;

}

.footer-fifth-cols ul a{ 
    text-decoration: none;
    color: #ffffff9d;
    font-family:'Poppins', sans-serif;
    font-size:16px;
    display: flex;
    flex-direction: column;
    padding-bottom:15px;
    
}

.footer-fifth-cols ul { 
    list-style-type:none;
}

hr{
    width:100%;
    background-color: #ffffff;
    padding:relative;
    
}

