@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Mulish:wght@500&family=Nunito+Sans:wght@500&family=Poppins:wght@300&display=swap');


*{ 
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{ 
    width:100%;
    height:100vh;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    background:#A28089;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin-bottom:25px; 
    text-align: center;
    font:2.2em 'Macondo', cursive;
    font-weight: 600;
}

.calculator{ 
    padding:10px 0px 25px 15px;
    box-shadow:0px 10px 30px 10px #0000004d;
    border-radius:40px;
    background:linear-gradient(180deg, #F8B195, #F67280 , #C06C84, #6C5B7B, #355C7D);
}

input{ 
    background-color:transparent;
    width:292px;
    padding:32px;
    border: none;
    font-size:42px;
    text-align: right;
    color: #ffffff;
    margin-top:15px;
    cursor: pointer;
    pointer-events: none; 
}

input::placeholder{ 
    color: #ffffffe9;
}

.btn{  
   border:none;
   width:58px;
   height:58px;
   cursor: pointer;
   color:#ffffffe5;
   background-color:transparent;
   border:1px solid #ffffffb2;
   border-radius:50%;
   align-items: center;
   margin:4px;
   font-size:20px;
}

.bg{ 
    background-color:#d9878f;
}

.bg:hover{ 
    background-color:#e6abaf;
    transform:scale(1);
    transition: 0.3s;
}

.ftsize{ 
    font-size:17px;
    font-weight: 300;
}

.ftsize:nth-child(2):hover{ 
    background-color:#e85763;
}

.ftsize2{ 
    font-size:26px;
}

.diff{ 
      background-color:#3eb6a1;
}

.diff:hover{ 
    background-color:#0aa48b;
}

.imp{ 
    width:129px;
    height:58px;
    font-size:25px;
    border-radius:50px;
}

